*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  background: #f0f0f0;
  color: #000;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
